<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="alert alert-danger" th:if="${param.error}" role="alert">Your email or password is wrong!</div>
    <form  th:action="@{/login}"  method="post" style="margin-top: 100px;">
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="Email">Email</label>
                <input  placeholder="Email" class="form-control"  id="email" name="email"/>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="password">Paswword</label>
                <input placeholder="paswword" class="form-control" id="password" name="password"/>
            </div>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>